OPENAI_API_KEY=replace-with-your-openai-api-key
HUGGINGFACE_API_TOKEN=replace-with-your-hugging-face-token
PDFSHIFT_API_KEY=replace-with-your-pdfshift-api-key
TINIFY_API_KEY=replace-with-your-tinify-api-key
SMTP_FROM_EMAIL=stories@example.com
